@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.app {
  background: #370037;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #370037;

  width: 100%;
  min-height: 100vh;
}

.logo {
  width: 150px;
}

.h-subheading {
  color: blanchedalmond;
  font-size: 4vw;
  font-weight: 200;
  line-height: 0.8em;
  margin-left: 4rem;
}

.h-heading {
  font-size: 19vw;
  font-weight: 600;
  color: blanchedalmond;
  line-height: 0.8em;
}

.i-subhead {
  color: blanchedalmond;
  font-size: 4vw;
  font-weight: 200;
  line-height: 0.8em;
  margin-left: 10rem;
  margin-top: 0.2em;
}

.info {
  padding-top: 3rem;
}

.i-col-1 {
  border-right: 2px solid blanchedalmond;
}

.canvas-cont {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
